<div class="migrant-doc migrant-doc--full">
    <div class="migrant-doc__top">
        <div class="migrant-doc__top-left">
            <div class="migrant-doc__title">Условия работы на объекте</div>
        </div>
        <div class="migrant-doc__buttons">
            <button class="migrant-doc__btn">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0173 15.102L17.5469 12.6316L19.3326 10.845L21.8021 13.3145L20.0173 15.102ZM13.6566 21.4691L10.9277 21.7176L11.1697 19.0079L16.3186 13.859L18.7899 16.3303L13.6566 21.4691ZM23.1202 12.0394L23.1193 12.0385L20.6095 9.52864C19.9302 8.85123 18.7633 8.81914 18.1198 9.46539L9.87349 17.7117C9.57465 18.0096 9.38949 18.4056 9.35099 18.8246L9.00357 22.6471C8.97974 22.9175 9.07599 23.1851 9.26849 23.3776C9.44174 23.5509 9.67549 23.6462 9.91657 23.6462C9.94499 23.6462 9.97249 23.6453 9.99999 23.6426L13.8225 23.2951C14.2423 23.2566 14.6374 23.0724 14.9353 22.7745L23.1826 14.5272C23.8499 13.8581 23.8215 12.7416 23.1202 12.0394Z" fill="#85949E"></path>
                    </g>
                </svg>
            </button>
        </div>
    </div>

    <div class="migrant-doc__bottom">
        <div class="migrant-doc__grid">
            <div class="migrant-doc__items">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Формат оплаты</span>
                    <span class="migrant-doc__item-desc">Оплата по ставкам</span>
                </div>
            </div>
            <div class="migrant-doc__items">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Ставка дневная</span>
                    <span class="migrant-doc__item-desc">1 700</span>
                </div>
            </div>
            <div class="migrant-doc__items">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Ставка ночная</span>
                    <span class="migrant-doc__item-desc">2 000</span>
                </div>
            </div>
        </div>
        <div class="migrant-doc__grid">
            <div class="migrant-doc__items migrant-doc__items--13">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Условия работы</span>
                    <span class="migrant-doc__item-desc">Комфортное место работы. Сборка заказов для маркетплейсов, упаковка в короба, на палетты.  <br>
                        Погрузка, разгрузка, в том числе ткани в рулонах, вес 1 рулона 15-20 кг, 1-2 раза в месяц</span>
                </div>
            </div>
        </div>
        <div class="migrant-doc__grid">
            <div class="migrant-doc__items">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Общежитие</span>
                    <span class="migrant-doc__item-desc">450 мест с одоспальными кроватями, туалет на этаже
                        Есть регистрация</span>
                </div>
            </div>
            <div class="migrant-doc__items">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Питание на объекте</span>
                    <span class="migrant-doc__item-desc">Нет</span>
                </div>
            </div>
            <div class="migrant-doc__items">
                <div class="migrant-doc__item">
                    <span class="migrant-doc__item-title">Транспорт до объекта</span>
                    <span class="migrant-doc__item-desc">Автобусы 70 мест, по адресам</span>
                </div>
            </div>
        </div>
    </div>
</div>